* {
    font-family: "Tahoma", "Helvetica", "MS Gothic";
}

#menu {
    margin: 20px 0;
}

#song-name-div {
    margin: 5px 0;
}

#import-div {
    display: inline-block;
}

.block {
    margin: 3px 0;
    padding: 0;
    display: inline-block;
    width: 86px;
}

.block .lyric {
    width: 100%;
    padding: 2px 0;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
}

.block .lyric input {
    width: 82px;
}

.block .note {
    font-size: 32px;
    padding: 2px 0;
    margin: 3px 0;
    width: 100%;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #000000;
}

.block.no-border-left .note {
    border-left-color: #ededed;
}

.block.no-border-right .note {
    border-right-color: #ededed;
}

.block.diminutive .note {
    padding-top: 17px;
    font-size: 20px;
}

.block.single-diminutive {
    position: absolute;
    margin-left: -43px;
    margin-top: 45px;
}

.block.single-diminutive .lyric {
    display: none;
}

.block.single-diminutive .note {
    font-size: 20px;
    border: none;
}

.pointer {
    display: inline-block;
    position: absolute;
    width: 3px;
    height: 72px;
    margin-top: 3px;
    background-color: #0000FF;
    animation: pointer 800ms steps(2, start) infinite;
}

.pointer+.block.single-diminutive {
    background-color: rgba(0, 0, 255, 0.5);
}

.pointer.relative {
    position: relative !important;
}

.newline {
    display: block;
    margin: 20px 0;
}

@keyframes pointer {
    to {
        visibility: hidden;
    }
}

@media print {
    * {
        font-family: "MS Mincho";
    }

    body {
        margin: 50px 30px;
    }

    .no-print, .no-print * {
        display: none !important;
    }

    .block.single-diminutive {
        margin-top: 40px;
    }
}