* {
    font-family: "Tahoma", "Helvetica", "MS Gothic";
}

#menu {
    margin: 20px 0;
}

#song-name-div {
    margin: 5px 0;
}

#import-div {
    display: inline-block;
}

.note {
    display: inline-block;
    font-size: 32px;
    padding: 2px 0;
    margin: 3px 0;
    width: 87px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #000000;
}

.note.no-border-left {
    border-left-color: #EDEDED;
}

.note.no-border-right {
    border-right-color: #EDEDED;
}

.note.diminutive {
    width: 60px;
    position: absolute;
    margin-top: 18px;
    margin-left: -30px;
    font-size: 24px;
    border: none;
}

.pointer+.diminutive {
    background-color: rgba(0, 0, 255, 0.5);
}

.pointer {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 45px;
    margin-top: 5px;
    background-color: #0000FF;
    animation: pointer 800ms steps(2, start) infinite;
}

.pointer.relative {
    position: relative !important;
}

.newline {
    display: block;
    margin: 20px 0;
}

@keyframes pointer {
    to {
        visibility: hidden;
    }
}

@media print {
    * {
        font-family: "MS Mincho";
    }

    body {
        margin: 50px 30px;
    }

    .no-print, .no-print * {
        display: none !important;
    }
}